.events-main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;  
    padding-right: 1rem;
    padding-left: 1rem;  
    row-gap: 1rem;
    column-gap: 1rem;
    background-color: #eee;
}

.card-texts p{
    padding: 0.5rem;
}

.events-card {
    grid-column: span 3;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
}

.events-card .card-title {
    margin-bottom: 0rem;
}

.events-card .card-picture {
    margin-top: 0.5rem;
}

.cards_button{
    background-color:lightblue;
    margin-top: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding:0.5rem;
}

.cards_button:hover{
    background-color:darkslateblue;
    color: white;
}


@media (max-width: 44rem) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger-menu{
        display: flex;
    }

    .header-menu ul {
        display: none;
        flex-direction: column;
        background-color: burlywood;
    }

    .header-menu.open ul {
        display: flex;
    }


    .card {
        display: block;
    }

    .card.first-card {
        margin: 0;
    }

    .card.second-card {
        margin: 0;
    }
    
    .card-picture-first {
        float: right;
        width: 125px;
        height: 125px;
    }

    .card-picture-second {
        float: left;
        width: 125px;
        height: 125px;
    }

    .cats-card {
        grid-column: span 12;
        align-items: flex-start;
    }


    .card-title{
        padding-left: 0.5rem;
    }

    .card-picture {
        margin: 0;
        padding-left: 0.5rem;
    }

    .events-card {
        grid-column: span 12;
        align-items: flex-start;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
    }

    .footer-menu {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

}

@media (max-width: 80rem) and (min-width: 60rem){
    .events-card {
        grid-column: span 4;
    }
}

@media (max-width: 60rem) and (min-width: 44rem){
    .events-card {
        grid-column: span 6;
    }
}

